apiVersion: v1
kind: Namespace
metadata:
  name: tech-local
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: noir-fashion
  namespace: tech-local
  labels:
    app: noir-fashion
spec:
  replicas: 1
  selector:
    matchLabels:
      app: noir-fashion
  template:
    metadata:
      labels:
        app: noir-fashion
    spec:
      containers:
        - name: noir-fashion
          # substitute this image for your app image
          image: marlonanderson/devopsworkshop:latest
          ports:
            - containerPort: 80
              name: http
          # optional: small readiness probe so rollout waits until container serving
          readinessProbe:
            httpGet:
              path: /
              port: 8080
          initialDelaySeconds: 10
          periodSeconds: 5
          timeoutSeconds: 3
          failureThreshold: 3
          livenessProbe:
            httpGet:
              path: /
              port: 8080
          initialDelaySeconds: 30
          periodSeconds: 10
          timeoutSeconds: 3
          failureThreshold: 3
---
apiVersion: v1
kind: Service
metadata:
  name: noir-fashion
  namespace: tech-local
  labels:
    app: noir-fashion
spec:
  type: NodePort
  selector:
    app: noir-fashion
  ports:
    - name: http
      port: 80
      targetPort: 80
      nodePort: 30080
