apiVersion: v1
kind: Namespace
metadata:
  name: tech-local
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: noir-fashion
  namespace: tech-local
  labels:
    app: noir-fashion
spec:
  replicas: 1
  selector:
    matchLabels:
      app: noir-fashion
  template:
    metadata:
      labels:
        app: noir-fashion
    spec:
      containers:
        - name: noir-fashion
          image: marlonanderson/devopsworkshop:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 80
          readinessProbe:
            httpGet:
              path: /index.html
              port: 80
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /index.html
              port: 80
            initialDelaySeconds: 15
            periodSeconds: 20
      restartPolicy: Always
---
apiVersion: v1
kind: Service
metadata:
  name: noir-fashion
  namespace: tech-local
  labels:
    app: noir-fashion
spec:
  type: NodePort
  selector:
    app: noir-fashion
  ports:
    - name: http
      port: 80
      targetPort: 80
      nodePort: 30080
