apiVersion: v1
kind: Namespace
metadata:
  name: tech-local
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: noir-fashion
  namespace: tech-local
  labels:
    app: noir-fashion
spec:
  replicas: 1
  selector:
    matchLabels:
      app: noir-fashion
  template:
    metadata:
      labels:
        app: noir-fashion
    spec:
      containers:
        - name: noir-fashion
          image: marlonanderson/devopsworkshop:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
          readinessProbe:
            httpGet:
              path: /
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 5
            timeoutSeconds: 3
            failureThreshold: 3
          livenessProbe:
            httpGet:
              path: /
              port: 8080
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 3
            failureThreshold: 3
      restartPolicy: Always
---
apiVersion: v1
kind: Service
metadata:
  name: noir-fashion
  namespace: tech-local
  labels:
    app: noir-fashion
spec:
  type: NodePort
  selector:
    app: noir-fashion
  ports:
    - name: http
      port: 80
      targetPort: 8080
      nodePort: 30080